version: '3.8'
services:
  users:
    image: users-api
    container_name: kafoor-users-api
    extra_hosts:
      - "host.docker.internal:host-gateway"
    build: .
    ports:
      - "${SPRING_PORT:-8081}:8081"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      ACCESS_SECRET: ${ACCESS_SECRET}
      ACCESS_LIFETIME: ${ACCESS_LIFETIME}
      REFRESH_SECRET: ${REFRESH_SECRET}
      REFRESH_LIFETIME: ${REFRESH_LIFETIME}
      GENERATOR_SECRET: ${GENERATOR_SECRET}
    restart: unless-stopped
