spring:
  profiles:
    active: dev
  application:
    name: users
    autoconfigure:
      exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
server:
  port: 8081
logging:
  level:
    root: INFO
  file:
    name: app.log